@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(0.7rem); /* Optional: Apply blur to the background */
  z-index: -1; /* Ensure it stays behind other content */
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ),
  url('/images/AboutMeBackground.jpg');
}

section::after {
  content: '';
  position: absolute;
  bottom: 100%; /* Adjust spacing below the image */
  left: 50%;
  width: 100%; /* Adjust the width of the underline */
  height: 0.1rem; /* Thickness of the underline */
  background-color: rgba(234, 192, 243, 0.76);
  transform: translateX(-50%); /* Center the underline */
  box-shadow: 0 0 1rem 3px rgba(247, 207, 248, 0.538); /* Glow effect */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

p {
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

h1 {
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

h2 {
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}