.languageContainer {
    background: rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease-in-out;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .languageContainer h2 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .languageContainer:hover {
    transform: scale(1.05);
  }

  .languageLogo {
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
  }
  
  .languageName {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
